html {
  position: relative;
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin-top: 0px;
  margin-left: 151px;
  margin-right: 151px;
  background: burlywood;
}

@media (max-width: 1635px) {
  body {
    margin: 0;
  }
}

.container {
  background: wheat;
  max-height: 100%;
  max-width: 100%;
  border: 1px solid black;
}

.content {
  margin-bottom: 100%;
  width: 100%;
}

/* Home Page - index.html */

header {
  background: black;
  overflow: hidden;
  height: 4em;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

#title {
  font-size: 2.5em;
  margin: 10px 0 10px 10px;
  float: left;
  text-decoration: none;
}

header nav {
  width: auto;
  display: block;
}

nav {
  margin-top: 0;
  font-size: 1.25em;
  font-weight: bold;
  overflow: hidden;
  width: auto;
  display: block;
}

nav ul li {
  list-style: none;
  float: right;
  border-left: 1px solid #2f2f2f;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

nav ul li:hover {
  background: #2f2f2f;
}

nav ul li a {
  display: inline-block;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  color: white;
  height: 100vh;
}

#menu-icon {
  display: none;
}

nav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
}

nav a.icon:hover {
  background-color: #ddd;
  color: black;
}

/* mobnav!!! */

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  position: sticky;
}

/* end of mobnav!!! */

/* media for header, navbar, and mobnav */

@media (max-width: 1635px) {
  nav ul li {
    font-size: 1em;
  }
  #title {
    font-size: 2em;
    margin: 12px 0 20px 10px;
  }
}

@media (max-width: 1350px) {
  nav ul li {
    font-size: 0.75em;
  }

  #title {
    font-size: 1.5em;
    margin: 12px 0 20px 10px;
  }
}

@media (min-width: 1000px) {
  .topnav {
    display: none;
  }
}

@media (max-width: 1000px) {
  header {
    display: none;
  }
}

/* end of media for header and navbar */

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

#main-img {
  max-height: 100%;
  width: 4000px;
  max-width: 100%;
}

.row {
  height: 450px;
}

.column {
  float: left;
  width: 33.2%;
  background-size: cover;
  height: inherit;
  text-align: center;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 15px;
}

.column:last-child {
  border-right: none;
}

.column button {
  box-shadow: inset 0px 0px 14px -3px #f2fadc;
  background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
  background-color: #dbe6c4;
  border-radius: 6px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  color: #5b6156;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ced9bf;
  position: relative;
  top: 17em;
}

.column button:hover {
  background: linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
  background-color: #9ba892;
}

.column h1 {
  font-size: 2.5em;
  padding: 0;
  margin: 8px 50px 0 50px;
  color: white;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
}

#recipe-left {
  background-image: url(images/10m-burger-big-mobile.jpg);
  background-repeat: no-repeat;
}

#recipe-mid {
  background-image: url(images/beef-wellington.jpg);
  background-repeat: no-repeat;
}

#recipe-right {
  background-image: url(images/grilled-salmon-long_version.jpg);
  background-repeat: no-repeat;
  padding-left: 3px;
}

/* media for the recipe columns on the home page */
@media (max-width: 1300px) {
  .column {
    width: 33%;
  }
  .column:last-child {
    border-right: 1px solid black;
  }
}

@media (max-width: 1200px) {
  .row {
    height: 300px;
  }
  .column h1 {
    font-size: 1.5em;
  }
  .column button {
    top: 13em;
    font-size: 1em;
  }
}

@media (max-width: 850px) {
  .column h1 {
    font-size: 1em;
  }
}

@media (max-width: 660px) {
  .row {
    display: flex;
    flex-direction: column;
    height: 700px;
  }
  .column {
    width: 100%;
    margin-top: 0;
  }
  .column h1 {
    font-size: 2em;
  }
  .column button {
    top: 9em;
  }
}
/* end of media for the recipe columns on the home page */

.row:after {
  content: "";
  display: table;
  clear: both;
}

#gordon-tips {
  text-align: center;
}

#gordon-tips h1 {
  font-size: 2.5em;
  padding: 0;
  margin: 35px 400px 5px 400px;
  color: white;
  border: 1px solid black;
}

#gordon-video {
  width: fit-content;
  height: fit-content;
  margin-top: 15px;
  border: 1px solid black;
  outline: none;
}
/* start of media for gordon tips */

@media (max-width: 1500px) {
  #gordon-video {
    height: 565px;
    width: 1000px;
    border: none;
    outline: none;
  }
}

@media (max-width: 1400px) {
  #gordon-tips h1 {
    font-size: 2.5em;
    margin: 25px 250px 0 250px;
  }
}

@media (max-width: 1100px) {
  #gordon-tips h1 {
    font-size: 1.5em;
    margin: 35px 200px 0 200px;
  }
  #gordon-video {
    height: 400px;
    width: 600px;
    margin: 0;
  }
}

@media (max-width: 600px) {
  #gordon-tips h1 {
    font-size: 1.25em;
    margin: 15px 150px 0 150px;
  }

  #gordon-video {
    height: 250px;
    width: 400px;
  }
}

/* end of media for gordon tips */
#map {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#map h1 {
  font-size: 2em;
  color: white;
  margin: 15px 400px 15px 400px;
  border: 1px solid black;
}

#google-map {
  width: 1282px;
  height: 500px;
  border: 1px solid black;
}

/* start of media for google map */

@media (max-width: 1500px) {
  #google-map {
    width: 1000px;
  }
}

@media (max-width: 1100px) {
  #map h1 {
    font-size: 1.5em;
    margin: 25px 200px 25px 200px;
  }

  #google-map {
    width: 600px;
    height: 400px;
  }
}

@media (max-width: 600px) {
  #map h1 {
    font-size: 1.25em;
    margin: 15px 150px 25px 150px;
  }

  #google-map {
    width: 400px;
    height: 250px;
  }
}

/* end of media for google map */

#social-media {
  text-align: center;
}

#social-media h1 {
  border: 1px solid black;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 15px;
  margin-top: 110px;
  font-size: 40px;
  color: white;
}

#social-media p {
  font-size: 1.25em;
  text-align: center;
  font-weight: bold;
}

#social-media i {
  font-size: 40px;
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid black;
}

#fb {
  color: #3c5a99;
}

#fb:hover {
  font-size: 50px;
  transition-duration: 0.2s;
}

#twitter {
  color: #00acee;
  transition-duration: 0.2s;
}

#twitter:hover {
  font-size: 50px;
  transition-duration: 0.2s;
}

#insta {
  color: #c13584;
}

#insta:hover {
  font-size: 50px;
}

/* start of media for social media section on Home - index.html */

@media (max-width: 1635px) {
  #social-media h1 {
    margin-top: 200px;
  }
}

@media (max-width: 1100px) {
  #social-media h1 {
    font-size: 1.75em;
    margin: 80px 200px 25px 200px;
  }
}

@media (max-width: 950px) {
  #social-media {
    margin-top: 20px;
  }

  #social-media h1 {
    margin: -100px 200px 25px 200px;
  }
}

@media (max-width: 750px) {
  #social-media {
    margin-top: -50px;
  }

  #social-media h1 {
    margin: 0px 175px 25px 175px;
  }
}

@media (max-width: 600px) {
  #social-media {
    margin-top: 0;
  }

  #social-media h1 {
    font-size: 1.25em;
    margin: 50px 150px 25px 150px;
  }

  #social-media p {
    font-size: 1em;
  }
}
/* end of media for social media section on Home - index.html */

.before-footer {
  margin-top: 30px;
  padding: 0px;
  background: black;
  overflow: hidden;
  height: 70px;
  justify-content: space-between;
  text-align: center;
}

.before-footer nav ul li {
  width: 24%;
  height: 100%;
  margin-top: 20px;
  margin-right: 12px;
}
/* start of media for before-footer */

@media (max-width: 1400px) {
  .before-footer nav ul li {
    font-size: 0.75em;
    justify-content: space-between;
    width: 23%;
  }
}

@media (max-width: 900px) {
  .before-footer nav ul li {
    font-size: 0.75em;
    justify-content: space-between;
    width: 22%;
  }
}

/* end of media for before-footer */

footer {
  background: white;
  height: 20px;
  text-align: center;
  font-weight: bold;
}

/* start of media for footer */

@media (max-width: 890px) {
  footer p {
    font-size: 0.75em;
  }
}

@media (max-width: 700px) {
  footer p {
    font-size: 0.55em;
  }
  footer {
    height: 10px;
  }
}

/* end of media for footer */

/* Privacy-Policy - policy.html  */

#policy-text {
  text-align: center;
}

#policy-text ol {
  padding-left: 0.5em;
  width: 45%;
  margin-left: 28%;
}

#policy-text p {
  width: 45%;
  height: auto;
  margin-left: 28%;
}

#policy-text ol li {
  list-style-type: disc;
  list-style-position: inside;
  text-align: center;
}

#privacy-policy {
  margin-bottom: 30px;
}

/* About Page - about.html */

#about {
  max-width: 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.about h1 {
  font-size: 2em;
}

.about {
  padding: 0.5px;
}

#image-left {
  background-image: url(images/restaurants&bars.jpg);
}

#image-mid {
  background-image: url(images/chef-careers.jpg);
}

#image-right {
  background-image: url(images/private-dinning.jpg);
}

/* start of media for about.html */

@media (max-width: 1350px) {
  .about h1 {
    font-size: 1.25em;
  }
  .about {
    padding-left: 0.5px;
  }
}

@media (max-width: 1000px) {
  .about h1 {
    font-size: 1em;
    margin: 8px 30px 0 30px;
  }
}

@media (max-width: 850px) {
  .about h1 {
    font-size: 1em;
    margin: 8px 20px 0 20px;
  }
}

@media (max-width: 750px) {
  #about {
    margin-bottom: -100px;
  }
}

@media (max-width: 600px) {
  #about {
    margin-bottom: 0px;
  }
}

/* end of media for about.html */

/* Contact Page - contact.html */

.contact-content {
  margin-bottom: 30px;
}

.contact-form {
  text-align: center;
}

label {
  font-weight: bold;
}

input {
  width: 35%;
  height: 20px;
}

#submit-button {
  width: 100px;
  font-weight: bold;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
  text-align: center;
}

#submit-button:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}

#contact-information {
  margin-top: 30px;
}

#input-msg {
  min-width: 500px;
  min-height: 150px;
  max-width: 900px;
  max-height: 200px;
}
/* start of media for contact page */

@media (max-width: 900px) {
  #input-msg {
    min-width: 300px;
    min-height: 100px;
    max-width: 450px;
    max-height: 150px;
  }
}

/* end of media for contact page */

/* FAQ Page - faq.html */

#faq {
  width: 50%;
  margin-left: 25%;
  text-align: justify;
}

#faq-content {
  margin-bottom: 30px;
}

#faq ol li {
  list-style-type: disc;
  list-style-position: inside;
}

/* start of media for faq.html */

@media (max-width: 600px) {
  #faq {
    width: 80%;
    margin-left: 10%;
  }
}

/* end of media for faq.html */

/* Recipes Page - 10m-burger.html; beef-wellington.html; grilled-salmon.html; */

.recipe-page {
  display: block;
  width: 100%;
}

.recipe-title {
  display: block;
  width: auto;
  text-align: center;
  margin: 50px;
}
.recipe-title h2 {
  font-weight: 400;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #101010;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 22px;
}

.recipe-image {
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
}

.imagebg {
  background-size: cover;
}

.imagebg img {
  width: 100%;
  height: auto;
}

.imagebg.mobile {
  display: none;
}

.recipe-container {
  margin: 0 50px;
  margin-bottom: 30px;
  position: relative;
}

section.recipe-page .recipe-ingredients {
  padding-right: 60px;
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
}

section.recipe-page .recipe-ingredients h3 {
  font-weight: 400;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #101010;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

section.recipe-page p {
  margin-bottom: 10px;
  color: #101010;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: baseline;
}

section.recipe-page strong {
  font-weight: 700;
}

aside ul.recipe-division {
  padding-left: 40px;
  margin: 20px 0;
  list-style-type: disc;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(52, 52, 52, 0.6);
}

aside ul li,
aside ol li {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #101010;
  margin-bottom: 20px;
  text-align: center;
  list-style-position: inside;
}

section.recipe-page .recipe-instructions h3 {
  font-weight: 400;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #101010;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.recipe-instructions ol li {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
  border-left: 1px solid #343434;
  vertical-align: baseline;
  display: list-item;
  padding: 0 0 0 20px;
  margin: 0 0 6px 30px;
  margin-bottom: 30px;
  min-height: 30px;
}

.recipe-instructions ol.recipe-division {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
  padding: 14px 0;
}

.recipe-instructions ol.recipe-division li {
  position: relative;
  margin: 0 0 6px 30px;
  padding: 0 0 0 20px;
  list-style: none;
  margin-bottom: 30px;
  min-height: 30px;
  color: #101010;
}

/* start of media for recipes page */

@media (max-width: 600px) {
  .recipe-title {
    margin: 20px;
  }
  .recipe-title h2 {
    font-size: 1em;
    font-weight: bold;
    line-height: 2;
  }
}

/* end of media for recipes page */

/* Careers - careers.html */

.content-careers {
  margin-bottom: 60px;
  height: 100%;
}

.careers-text {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.careers-text h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.careers-text p {
  font-weight: 600;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}

.table h3 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 50px;
  color: teal;
}

.career-row {
  height: 35vh;
}

.career-column {
  float: left;
  width: 50%;
  height: 100%;
  background-size: cover;
  text-align: center;
}

.career-column button {
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 35px;
  text-decoration: none;
  position: relative;
  top: 150px;
  border: none;
}

.career-column button:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}

.career-column button:active {
  position: relative;
  opacity: 0.8;
  border: none;
  text-decoration: none;
}

#front-of-house {
  background-image: url(images/careers-front_of_house.jpg);
}

#chefs {
  background-image: url(images/careers-chefs.jpg);
}

#support-office {
  background-image: url(images/careers-support_office.jpg);
}

#management {
  background-image: url(images/careers-management.jpg);
}

.gallery-table {
  height: 60vh;
}

.gallery-row {
  height: 31vh;
  padding: 0;
}

.gallery-column {
  float: left;
  width: 25%;
  height: 100%;
  background-size: cover;
  text-align: center;
}

.gallery-table h1 {
  font-size: 2.5em;
  padding: 0;
  margin: 35px 400px 25px 400px;
  color: white;
  border: 1px solid black;
}

.gallery-column img {
  max-width: 100%;
  height: auto;
}

/* start of media for careers; and index galleries (most likely all) */

@media (max-width: 1635px) {
  .gallery-row {
    margin-bottom: 30px;
  }
}

@media (max-width: 1100px) {
  .gallery-row {
    margin-bottom: 70px;
    height: 100px;
  }

  .gallery-table {
    height: 400px;
  }

  #pic {
    height: 100px;
  }
}

@media (max-width: 950px) {
  .gallery-table h1 {
    font-size: 1.75em;
    margin: 25px 200px 25px 200px;
  }

  .gallery-table {
    height: 450px;
  }

  .gallery-row {
    height: 50px;
  }

  #pic {
    height: 100px;
  }

  .underline {
    max-width: 200px;
    width: 200px;
  }

  .content-careers {
    margin-bottom: -100px;
  }
}

@media (max-width: 600px) {
  .gallery-table {
    height: 210px;
  }

  .gallery-table h1 {
    font-size: 1.5em;
    margin: 25px 150px 25px 150px;
  }

  .gallery-row {
    height: 20px;
  }

  #pic {
    height: 80px;
  }

  .table {
    display: flex;
    flex-direction: column;
  }

  .career-row {
    display: flex;
    flex-direction: column;
    height: 650px;
  }

  .career-column {
    width: 100%;
  }

  .content-careers {
    margin-bottom: 0;
  }
}

/* end of media for careers; and index galleries (most likely all) */

/* Reserve A Table - reserve.html */

#content-reserve {
  margin-bottom: 0px;
}

#reserve-top-text {
  margin-top: 20px;
  text-align: center;
}

#reserve-top-text h1 {
  margin-bottom: 0px;
}

#reserve-top-text p {
  margin: 0 200px 0 200px;
  font-size: 1.3em;
}

#underline-reserve {
  margin: 0px auto;
  margin-bottom: 20px;
  position: relative;
  top: 10px;
}

.reserve-row form {
  text-align: center;
  width: 100%;
}

.reserve-column {
  margin-top: 30px;
  display: flex;
}

.reserve-column img {
  width: 50%;
  height: 27rem;
}

#reserve-table #choose-restaurant,
#date,
#time,
#size,
#fname,
#lname,
#email,
#phone {
  width: 30%;
}

#reserve-button {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 6px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 100px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}

#reserve-button:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}

/* start of media for reserve.html */

@media (max-width: 950px) {
  #reserve-top-text p {
    margin: 0;
    text-align: justify;
  }

  #reserve-table #choose-restaurant,
  #date,
  #time,
  #size,
  #fname,
  #lname,
  #email,
  #phone {
    width: 35%;
  }
}

@media (max-width: 600px) {
  #reserve-top-text p {
    margin: 0 20px 0 20px;
    font-size: 1em;
  }

  #reserve-button {
    padding: 10px 50px;
  }

  #reserve-table #choose-restaurant,
  #date,
  #time,
  #size,
  #fname,
  #lname,
  #email,
  #phone {
    width: 50%;
  }
}

/* end of media for reserve.html */

/* Restaurants & Bars - restaurants.html */

.panel-restaurants {
  margin-bottom: 25px;
  width: 100%;
}

.restaurant-row {
  height: 100%;
  text-align: center;
  border: none;
  display: flex;
}

.restaurant-column {
  width: 25%;
  border: 1px solid black;
  padding-bottom: 1.5em;
  margin: 0 5px 5px 5px;
  background-color: #efca86;
}

.above-img {
  padding: 5px 0 5px 0;
  text-align: center;
  justify-content: space-between;
  display: flex;
  font-weight: bold;
  font-size: 1.1em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.fa-utensils {
  float: left;
  margin-left: 6px;
}

.restaurant-column .r-img img {
  width: 100%;
  height: 15em;
}

.restaurant-column h4 {
  font-size: 1.3em;
}

.restaurants-book-btn {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.restaurants-book-btn:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

/* start of media for restaurants.html */

@media (max-width: 900px) {
  .above-img {
    font-size: 0.8em;
  }

  .restaurant-column .r-img img {
    width: 100%;
    height: 10em;
  }
}

@media (max-width: 800px) {
  .restaurants-book-btn {
    padding: 8px 16px;
    font-size: 10px;
  }

  .restaurant-column h4 {
    font-size: 1em;
  }

  .restaurant-column p {
    font-size: 0.8em;
    text-align: center;
  }
}

/* end of media for restaurants.html */

/* Menu - menu.html */

.content-menu {
  margin-bottom: 30px;
}

.menu-panel {
  margin-bottom: 50px;
}

.above-menu-text {
  width: 40%;
  text-align: justify;
  position: relative;
  left: 50%;
  margin-left: -20%;
  font-size: 1.2em;
}

.above-menu h1 {
  font-size: 40px;
  padding: 0px;
  margin-top: 25px;
  margin-left: 400px;
  margin-right: 400px;
  color: black;
  border: 1.5px solid white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu-section {
  text-align: center;
}

.menu-heading {
  font-size: 1em;
  text-transform: uppercase;
}

.menu-section_header {
  margin-bottom: 35px;
  margin-top: 35px;
}

.menu-row {
  height: 30%;
  display: flex;
  text-align: center;
  margin-bottom: 25px;
}

.menu-column {
  width: 33%;
  border-right: 1px solid black;
  margin-bottom: 25px;
}

.menu-column:last-child {
  border: none;
}

/* start of media for menu.html */

@media (max-width: 1100px) {
  .above-menu-text {
    font-size: 1.1em;
    width: 60%;
    margin-left: -30%;
  }
}

@media (max-width: 1000px) {
  .above-menu h1 {
    margin: 25px 200px 0 200px;
  }
}

@media (max-width: 700px) {
  .above-menu-text {
    font-size: 1em;
    width: 75%;
    margin-left: -37.5%;
  }

  .above-menu h1 {
    margin: 25px 150px 0 150px;
    font-size: 1.5em;
  }
}

/* end of media for menu.html */

/* Private Dining & Events - dining.html */

.content-private {
  margin-bottom: 30px;
}

.underline-private {
  display: block;
  box-sizing: content-box;
  color: white;
  max-width: 350px;
  height: 8px;
  text-align: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  background: white;
  top: 0.5em;
  border: 1px solid white;
}

.private-text-section {
  margin-bottom: 7em;
}

.private-text-section h1 {
  margin-top: 1em;
  text-transform: uppercase;
}

.private-text-section p {
  font-size: 1.3em;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

.private-row {
  height: 55vh;
  display: flex;
  text-align: center;
}

.private-column {
  width: 50%;
}

.column-inside {
  text-align: center;
  margin-top: 150px;
  color: white;
}

.column-inside p {
  font-size: 1.3em;
}

.col {
  background-repeat: no-repeat;
  background-size: 800px;
  object-fit: cover;
}

.wedding {
  background-image: url(images/private-dinning-wedding.jpg);
}

.group-dining {
  background-image: url(images/private-dining-group_dining.jpg);
}

.parties {
  background-image: url(images/private-dinning-parties.jpg);
}

.filming-requests {
  background-image: url(images/private-dinning-filming.jpg);
  background-size: initial;
}

.meetings {
  background-image: url(images/private-dinning-meetings.jpg);
}

.mitzvah {
  background-image: url(images/private-dinning.jpg);
}

.private-button {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 10px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-size: 22px;
  padding: 10px 45px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  text-transform: uppercase;
  outline: none;
}

.private-button:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}

/* Enquiry - enquire.html */

.enquire-main-text {
  margin-bottom: 70px;
  margin-top: 40px;
}

.enquire-main-text p {
  font-size: 1.2em;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

.enquiry-form {
  background-color: grey;
}

.enquiry-form h1 {
  color: white;
}

.enquiry-form h4 {
  color: white;
  font-size: 1.3em;
}

.enquiry-row {
  height: 60vh;
  text-align: center;
  display: flex;
}

.enquiry-column {
  width: 50%;
}

.enquiry-column input,
select,
textarea {
  margin-top: 25px;
}

.enquiry-inputs {
  width: 70%;
  height: 5%;
}

#enquiry-form-btn {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-size: 24px;
  padding: 10px 35px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 42.5%;
  text-transform: uppercase;
}

#enquiry-form-btn:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}

/* Gallery - gallery.html */

.container-gallery {
  background: wheat;
  max-height: 100%;
  max-width: 100%;
  border: 1px solid black;
}

.content-gallery {
  margin-bottom: 136px;
}

.slideshow-gallery {
  max-width: 100%;
  position: relative;
  margin: auto;
  box-sizing: border-box;
}

.mySlides {
  display: none;
  box-sizing: border-box;
}

.arrow {
  cursor: pointer;
  position: relative;
  width: auto;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  box-sizing: border-box;
}

.next {
  position: relative;
  bottom: 435px;
  float: right;
}

.prev {
  position: relative;
  bottom: 435px;
  float: left;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.numbertext {
  color: white;
  border: 1px solid black;
  font-size: 12px;
  background-color: black;
  font-weight: bold;
  margin-left: 5px;
  padding: 3px;
  position: absolute;
  top: 100px;
  box-sizing: border-box;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  box-sizing: border-box;
}

/* .active,
.dot:hover {
  background-color: #717171;
} */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  box-sizing: border-box;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.social-media {
  text-align: center;
  margin-left: 40px;
}

.social-media i {
  font-size: 40px;
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid black;
}

/* random global stuff */

.clearfix::before {
  content: "";
  display: table;
}

.clearfix {
  zoom: 1;
}

.pure-g {
  letter-spacing: -0.31em;
  text-rendering: optimizeSpeed;
}

strong {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

ol {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

hr {
  box-sizing: content-box;
  color: white;
}

hr.flourish.three-dots {
  max-width: 60px;
}

hr.flourish {
  display: block;
  height: 8px;
  text-align: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  background: white;
  top: 60px;
}

hr.flourish::before {
  background: white;
}

.underline {
  display: block;
  box-sizing: content-box;
  color: white;
  max-width: 300px;
  height: 8px;
  text-align: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  background: white;
  top: 45px;
  border: 1px solid white;
}

button,
input,
textarea,
select {
  outline: none;
}
