html {
  position: relative;
  min-height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin-top: 0px;
  margin-left: 151px;
  margin-right: 151px;
  background: burlywood;
}

.container {
  background: wheat;
  max-height: 100%;
  max-width: 100%;
  border: 1px solid black;
}

.content {
  margin-bottom: 100%;
  width: 100%;
}

header {
  margin: 0px;
  padding: 0px;
  background: black;
  overflow: hidden;
  height: 70px;
}

#title {
  font-size: 40px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
  text-decoration: none;
}

nav {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
}

nav ul li {
  list-style: none;
  float: right;
  border-left: 1px solid #2f2f2f;
  height: 100vh;
}

nav ul li:hover {
  background: #2f2f2f;
}

nav ul li a {
  display: inline-block;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.responsive {
  max-width: 100%;
  height: auto;
}

#main-img {
  max-height: 100%;
  width: 1618px;
}

.row {
  height: 50vh;
}

.column {
  float: left;
  width: 33.2%;
  background-size: cover;
  height: inherit;
  text-align: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 15px;
}

.column button {
  box-shadow: inset 0px 0px 14px -3px #f2fadc;
  background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
  background-color: #dbe6c4;
  border-radius: 6px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  color: #5b6156;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ced9bf;
  position: relative;
  top: 350px;
}

.column button:hover {
  background: linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
  background-color: #9ba892;
}

.column h1 {
  font-size: 40px;
  padding: 0px;
  margin-top: 8px;
  margin-left: 50px;
  margin-right: 50px;
  color: white;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
}

#recipe-left {
  background-image: url(images/Gordon-10M-Burger.jpg);
  background-repeat: no-repeat;
}

#recipe-mid {
  background-image: url(images/beef-wellington.jpg);
  background-repeat: no-repeat;
}

#recipe-right {
  background-image: url(images/grilled-salmon-long_version.jpg);
  background-repeat: no-repeat;
  padding-left: 3px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#gordon-tips {
  text-align: center;
}

#gordon-tips h1 {
  font-size: 40px;
  padding: 0px;
  margin-top: 25px;
  margin-left: 400px;
  margin-right: 400px;
  color: white;
  border: 1px solid black;
}

#gordon-video {
  width: fit-content;
  height: fit-content;
  margin-top: 15px;
  border: 1px solid black;
}

#map {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#map h1 {
  font-size: 40px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 400px;
  margin-right: 400px;
  border: 1px solid black;
}

#google-map {
  width: 1282px;
  height: 500px;
  border: 1px solid black;
}

div.gallery {
  text-align: center;
  height: 60vh;
}

.gallery h1 {
  border: 1px solid black;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 40px;
  color: white;
  text-align: center;
}

#full-gallery {
  font-size: 25px;
  height: 244px;
  width: 323px;
  background: grey;
  margin: 5px;
}

#full-gallery h3 {
  letter-spacing: 0.6px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 24px;
  color: #fff;
  text-align: center;
  position: relative;
  top: 60px;
}

.pictures {
  float: left;
  position: relative;
  left: 125px;
  right: 125px;
  margin: 5px;
  background-size: cover;
}

.pictures:hover {
  background: rgba(255, 255, 255, 0.3);
  size: 5px;
}

div.gallery img {
  border: 1px solid black;
}

.gallery img:hover {
  size: 5px;
}

.gallery a img:hover {
  size: 5px;
  background: rgba(255, 255, 255, 0.3);
}

#social-media {
  text-align: center;
}

#social-media h1 {
  border: 1px solid black;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 15px;
  margin-top: 40px;
  font-size: 40px;
  color: white;
}

#social-media p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

#social-media i {
  font-size: 40px;
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid black;
}

#fb {
  color: #3c5a99;
}

#fb:hover {
  font-size: 50px;
  transition-duration: 0.2s;
}

#twitter {
  color: #00acee;
  transition-duration: 0.2s;
}

#twitter:hover {
  font-size: 50px;
  transition-duration: 0.2s;
}

#insta {
  color: #c13584;
}

#insta:hover {
  font-size: 50px;
}

.before-footer {
  margin-top: 30px;
  padding: 0px;
  background: black;
  overflow: hidden;
  height: 70px;
  justify-content: space-between;
  text-align: center;
}

.before-footer nav ul li {
  width: 24%;
  height: 100%;
  margin-top: 20px;
  margin-right: 12px;
}

footer {
  background: white;
  height: 20px;
  text-align: center;
  font-weight: bold;
}

#policy-text h1,
p {
  text-align: center;
}

#policy-text ol {
  padding-left: 0.5em;
  text-align: left;
}

#policy-text ol li {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 1em;
}

#privacy-policy {
  margin-bottom: 30px;
}

#about {
  max-width: 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.three-images {
  margin-top: 25px;
  height: 50vh;
}

.three-images button {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  position: relative;
  top: 250px;
}

.three-images button:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}

.three-images button:active {
  position: relative;
  top: 1px;
}

.image {
  float: left;
  width: 33.2%;
  background-size: cover;
  height: inherit;
  text-align: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 15px;
}

.image h1 {
  font-size: x-large;
  padding: 0px;
  margin-top: 8px;
  margin-left: 50px;
  margin-right: 50px;
  color: white;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
}

#image-left {
  background-image: url(images/restaurants&bars.jpg);
}

#image-mid {
  background-image: url(images/chef-careers.jpg);
}

#image-right {
  background-image: url(images/private-dinning.jpg);
}

.three-images:after {
  content: "";
  display: table;
  clear: both;
}

.content-about {
  margin-bottom: 0px;
}

div.gallery-about {
  text-align: center;
  display: table;
  width: fit-content;
}
#full-a-gallery {
  font-size: 25px;
  height: 242px;
  width: 323px;
  background: grey;
  margin: 0px;
}

#full-a-gallery h3 {
  letter-spacing: 0.6px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 24px;
  color: #fff;
  text-align: center;
  position: relative;
  top: 60px;
}

.about-pictures {
  float: left;
  margin: 0px;
  padding: 0px;
  background-size: cover;
  position: relative;
  left: 120px;
}

.contact-content {
  margin-bottom: 30px;
}

.contact-form {
  text-align: center;
}

label {
  font-weight: bold;
}

input {
  width: 30%;
  height: 20px;
}

#submit-button {
  width: 100px;
  font-weight: bold;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
  text-align: center;
}

#submit-button:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}

#contact-information {
  margin-top: 30px;
}

#google-map-contact {
  width: 100%;
  height: 50vh;
}

#faq {
  text-align: center;
}

#faq-content {
  margin-bottom: 30px;
}

#faq ol li {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 1em;
}

.recipe-page {
  display: block;
  width: 100%;
}

.recipe-title {
  display: block;
  width: auto;
  text-align: center;
  margin: 50px;
}
.recipe-title h2 {
  font-weight: 400;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #101010;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 22px;
}

.recipe-image {
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
}

.imagebg {
  background-size: cover;
}

.imagebg img {
  width: 100%;
  height: auto;
}

.imagebg.mobile {
  display: none;
}

.recipe-container {
  margin: 0 50px;
  margin-bottom: 30px;
  position: relative;
}

section.recipe-page .recipe-ingredients {
  padding-right: 60px;
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
}

section.recipe-page .recipe-ingredients h3 {
  font-weight: 400;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #101010;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

section.recipe-page p {
  margin-bottom: 10px;
  color: #101010;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: baseline;
}

section.recipe-page strong {
  font-weight: 700;
}

aside ul.recipe-division {
  padding-left: 40px;
  margin: 20px 0;
  list-style-type: disc;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(52, 52, 52, 0.6);
}

aside ul li,
aside ol li {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #101010;
  margin-bottom: 20px;
  text-align: center;
  list-style-position: inside;
}

section.recipe-page .recipe-instructions h3 {
  font-weight: 400;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #101010;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.recipe-instructions ol li {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
  border-left: 1px solid #343434;
  vertical-align: baseline;
  display: list-item;
  padding: 0 0 0 20px;
  margin: 0 0 6px 30px;
  margin-bottom: 30px;
  min-height: 30px;
}

.recipe-instructions ol.recipe-division {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
  padding: 14px 0;
}

.recipe-instructions ol.recipe-division li {
  position: relative;
  margin: 0 0 6px 30px;
  padding: 0 0 0 20px;
  list-style: none;
  margin-bottom: 30px;
  min-height: 30px;
  color: #101010;
}

/* Careers - careers.html */

.content-careers {
  margin-bottom: 90px;
  height: 100%;
}

.careers-text {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.careers-text h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.careers-text p {
  font-weight: 600;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}

.table h3 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 50px;
  color: teal;
}

.career-row {
  height: 35vh;
}

.career-column {
  float: left;
  width: 50%;
  height: 100%;
  background-size: cover;
  text-align: center;
}

.career-column button {
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 35px;
  text-decoration: none;
  position: relative;
  top: 150px;
  border: none;
}

.career-column button:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}

.career-column button:active {
  position: relative;
  opacity: 0.8;
  border: none;
  text-decoration: none;
}

#front-of-house {
  background-image: url(images/careers-front_of_house.jpg);
}

#chefs {
  background-image: url(images/careers-chefs.jpg);
}

#support-office {
  background-image: url(images/careers-support_office.jpg);
}

#management {
  background-image: url(images/careers-management.jpg);
}

.gallery-careers-table {
  height: 60vh;
}

.gallery-row {
  height: 31vh;
  margin: 0px;
  padding: 0px;
}

.career-gallery-column {
  float: left;
  width: 25%;
  height: 100%;
  background-size: cover;
  text-align: center;
  background: grey;
}

#full-c-gallery {
  width: 25%;
  height: 100%;
  background: grey;
  margin: 0px;
}

#full-c-gallery h3 {
  letter-spacing: 0.6px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 24px;
  color: #fff;
  text-align: center;
  position: relative;
  top: 60px;
}

/* Reserve A Table - reserve.html */

#content-reserve {
  margin-bottom: 0px;
}

#reserve-top-text {
  margin-top: 20px;
  text-align: center;
}

#reserve-top-text h1 {
  margin-bottom: 0px;
}

#reserve-top-text p {
  margin: 0 200px 0 200px;
  font-size: 1.3em;
}

#underline-reserve {
  margin: 0px auto;
  margin-bottom: 20px;
  position: relative;
  top: 10px;
}

.reserve-row form {
  text-align: center;
  width: 100%;
}

.reserve-column {
  margin-top: 30px;
  display: flex;
}

.reserve-column img {
  width: 50%;
  height: 27rem;
}

#reserve-table #choose-restaurant,
#date,
#time,
#size,
#fname,
#lname,
#email,
#phone {
  width: 30%;
}

#reserve-button {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 6px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 100px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}

#reserve-button:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}

/* Restaurants & Bars - restaurants.html */

.panel-restaurants {
  margin-bottom: 25px;
  width: 100%;
}

.restaurant-row {
  height: 100%;
  text-align: center;
  border: none;
  display: flex;
}

.restaurant-column {
  width: 25%;
  border: 1px solid black;
  padding-bottom: 1.5em;
  margin: 0 5px 5px 5px;
  background-color: #efca86;
}

.above-img {
  padding: 5px 0 5px 0;
  text-align: center;
  justify-content: space-between;
  display: flex;
  font-weight: bold;
  font-size: 1.1em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.fa-utensils {
  float: left;
  margin-left: 6px;
}

.restaurant-column .r-img img {
  width: 100%;
  height: 16em;
}

.restaurant-column h4 {
  font-size: 1.3em;
}

.restaurants-book-btn {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.restaurants-book-btn:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

/* Menu - menu.html */

.content-menu {
  margin-bottom: 30px;
}

.menu-panel {
  margin-bottom: 50px;
}

.above-menu-text {
  width: 35%;
  text-align: justify;
  position: relative;
  left: 50%;
  margin-left: -17.5%;
  font-size: 1.2em;
}

.above-menu h1 {
  font-size: 40px;
  padding: 0px;
  margin-top: 25px;
  margin-left: 400px;
  margin-right: 400px;
  color: black;
  border: 1.5px solid white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu-section {
  text-align: center;
}

.menu-item-heading {
  font-size: 1.3em;
}

.menu-section_header {
  margin-bottom: 15px;
  text-decoration: underline white;
}

.menu-section ol li {
  text-decoration: none;
  list-style-type: none;
}

.menu-row {
  height: 30%;
  display: flex;
  text-align: center;
  margin-bottom: 25px;
}

.menu-column {
  width: 33%;
}

/* random global stuff */

.clearfix::before {
  content: "";
  display: table;
}

.clearfix {
  zoom: 1;
}

.pure-g {
  letter-spacing: -0.31em;
  text-rendering: optimizeSpeed;
}

strong {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

ol {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

hr {
  box-sizing: content-box;
  color: white;
}

hr.flourish.three-dots {
  max-width: 60px;
}

hr.flourish {
  display: block;
  height: 8px;
  text-align: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  background: white;
  top: 60px;
}

hr.flourish::before {
  background: white;
}

.underline {
  display: block;
  box-sizing: content-box;
  color: white;
  max-width: 300px;
  height: 8px;
  text-align: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  background: white;
  top: 45px;
  border: 1px solid white;
}
